*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('/imgnovas/rio.JPG');
    background-repeat: no-repeat;
    /* background-size: ; */
    background-size: cover;
   
}
/*-----------------------------------MENU------------------------------------*/
.menu {
    list-style-type: none;
    margin: 0 auto; /* Centralizar horizontalmente */
    padding: 0;
    background: #355a92;
    background: linear-gradient(180deg,#355a92 20%, #35557c 50%, #000000 80%);
    background: -webkit-linear-gradient(180deg,#355a92 20%, #35557c 50%, #000000 80%);
    background: -moz-linear-gradient(180deg,#355a92 20%, #35557c 50%, #000000 80%);
    text-align: center; /* Centralizar os itens do menu */
    justify-content: center; /* Centralizar os itens horizontalmente */
    align-items: center; /* Centralizar os itens verticalmente */
}

.menu li {
    display: inline-block;
    position: relative; /* Para posicionar o submenu */
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #1159c5; /* Cor de fundo ao passar o mouse */
}

.menu ul {
    display: none;
    position: absolute;
    background-color: #444; /* Cor de fundo do submenu */
    min-width: 150px; /*ajusata o tamanha do submenu*/
    top: 100%; /* Posiciona o submenu abaixo do item pai */
    left: 0;
}

.menu li:hover > ul {
    display: block; /* Exibe o submenu ao passar o mouse sobre o item pai */
}

.menu ul li {
    display: block;
}

.menu ul li a {
    padding: 10px 15px; /* Ajuste de padding para o submenu */
}

.logout {
    margin-left: auto; /* Mover o botão "SAIR" para a direita */
}
#sair {
    background-color: #1159c5;
    color: white                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Adiciona margem à direita para separar o botão do último item */
}

#sair:hover {
    background-color: #0d3a75;
}
/*------------------------------SELECIONAR------------------------------*/
.container{
    padding: 25px 6%;
    text-align: center;
}

.container .heading{
    text-align: center;
    color: #737cd8;
    font: normal 63pt Impact;
    opacity: 100%;
    text-shadow: 6px 4px 3px rgba(0,0,0,0.6);
    
}
/*-------------------------------IMAGENS---------------------------------*/
.container .container-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 4px;
}

.container .container-image .image{
    width: 760px;
    border-radius: 5px; 
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background-color: #d8d7e2;
    padding: 15px;
    animation: fadeIn .2s linear;
}
.container .container-image .image img{
    width: 100%;
    height: 427px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.4s ease;
}
.container .container-image .image img:hover{
    transform: scale(1.1);
}
